In [1]:
import pandas as pd

# 从网络读取数据
players = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")  
print(type(players)) # 查看数据结构

<class 'pandas.core.frame.DataFrame'>

In [2]:
print(players.shape)
print(players.index)
print(players.columns)
print(type(players.values))
print(players.values)
players.T

(458, 9)
RangeIndex(start=0, stop=458, step=1)
Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')
<class 'numpy.ndarray'>
[['Avery Bradley' 'Boston Celtics' 0.0 ... 180.0 'Texas' 7730337.0]
 ['Jae Crowder' 'Boston Celtics' 99.0 ... 235.0 'Marquette' 6796117.0]
 ['John Holland' 'Boston Celtics' 30.0 ... 205.0 'Boston University' nan]
 ...
 ['Tibor Pleiss' 'Utah Jazz' 21.0 ... 256.0 nan 2900000.0]
 ['Jeff Withey' 'Utah Jazz' 24.0 ... 231.0 'Kansas' 947276.0]
 [nan nan nan ... nan nan nan]]

,0,1,2,3,4,5,6,7,8,9,...,448,449,450,451,452,453,454,455,456,457
Name,Avery Bradley,Jae Crowder,John Holland,R.J. Hunter,Jonas Jerebko,Amir Johnson,Jordan Mickey,Kelly Olynyk,Terry Rozier,Marcus Smart,...,Gordon Hayward,Rodney Hood,Joe Ingles,Chris Johnson,Trey Lyles,Shelvin Mack,Raul Neto,Tibor Pleiss,Jeff Withey,NaN
Team,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,...,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,NaN
Number,0.0,99.0,30.0,28.0,8.0,90.0,55.0,41.0,12.0,36.0,...,20.0,5.0,2.0,23.0,41.0,8.0,25.0,21.0,24.0,NaN
Position,PG,SF,SG,SG,PF,PF,PF,C,PG,PG,...,SF,SG,SF,SF,PF,PG,PG,C,C,NaN
Age,25.0,25.0,27.0,22.0,29.0,29.0,21.0,25.0,22.0,22.0,...,26.0,23.0,28.0,26.0,20.0,26.0,24.0,26.0,26.0,NaN
Height,6-2,6-6,6-5,6-5,6-10,6-9,6-8,7-0,6-2,6-4,...,6-8,6-8,6-8,6-6,6-10,6-3,6-1,7-3,7-0,NaN
Weight,180.0,235.0,205.0,185.0,231.0,240.0,235.0,238.0,190.0,220.0,...,226.0,206.0,226.0,206.0,234.0,203.0,179.0,256.0,231.0,NaN
College,Texas,Marquette,Boston University,Georgia State,NaN,NaN,LSU,Gonzaga,Louisville,Oklahoma State,...,Butler,Duke,NaN,Dayton,Kentucky,Butler,NaN,NaN,Kansas,NaN
Salary,7730337.0,6796117.0,NaN,1148640.0,5000000.0,12000000.0,1170960.0,2165160.0,1824360.0,3431040.0,...,15409570.0,1348440.0,2050000.0,981348.0,2239800.0,2433333.0,900000.0,2900000.0,947276.0,NaN

In [3]:
players.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
players.tail(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(type(players.index))
print(type(players.columns))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.base.Index'>

In [6]:
print(players.index[0])
players.index[0] = 'Avery Bradley' # 报错不能修改单个值

0

TypeError: Index does not support mutable operations

In [9]:
index = players.index.tolist() # 将index转换为list
index[0] = 'Avery Bradley'
players.index = index
players

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Avery Bradley,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
players_new = players.set_index('Name') # 将球员的名字设置为索引
players_new

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
players_new = players.set_index(['Name', 'Team'])
players_new

,,Number,Position,Age,Height,Weight,College,Salary
Name,Team,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
players = players_new.reset_index() # 将原来索引变为一列数据
players

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN